:root {
  --primary-accent: #bdbfbc;
  --cyber-red: #e41b33;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.wrapper {
  display: grid;
  height: 100vh;
  background: #2d2d2d;
  grid-template-columns: 275px 1fr;
  grid-template-rows: auto 1fr;
}

aside,
nav,
.profile-wrapper {
  background: #262728;
}

aside,
.profile-wrapper {
  border-right: 1px solid var(--primary-accent);
}

aside,
.profile-wrapper {
  padding: 0 1rem;
}

aside {
  grid-row: 2;
  display: grid;
  grid-template-rows: auto auto 1fr;
  padding-bottom: 1rem;
}

button,
input {
  padding: 0.5em 1em;
  font-size: 14px;
}

input[type="search"]:placeholder-shown,
input[type="search"]:not(placeholder-shown) {
  width: 100%;
  border-radius: 0.25rem;
  border: none;
  outline: none;
  background: var(--primary-accent);
}

input:focus {
  outline: 1px solid var(--cyber-red);
}

label {
  display: none;
}

.sidebar-button-wrapper {
  display: grid;
  gap: 1rem;
  padding-top: 2rem;
}

.opt,
.nav-button,
.helper {
  background-color: #555656;
  color: white;
  border: none;
}

.nav-button {
  clip-path: polygon(
    0% 0%,
    100% 0%,
    100% calc(100% - 9px),
    calc(100% - 9px) 100%,
    0% 100%
  );
  text-align: left;
}

.help-button-wrapper {
  align-self: self-end;
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.helper:last-child {
  grid-column: 1 / -1;
}

.navigation nav {
  grid-row: 1;
}

.profile-wrapper {
  display: flex;
  grid-row: 1;
  align-items: center;
  color: var(--primary-accent);
}

.profile-title {
  flex: 1;
  display: flex;
  gap: 0.25em;
  align-items: center;
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.svg-wrapper {
  max-width: 24px;
  width: 100%;
}

.profile-svg-wrap {
  max-width: 35px;
}

img {
  max-width: 100%;
  display: block;
}

nav {
  display: flex;
  padding: 1rem 5%;
  gap: 0.5rem;
  align-items: center;
  position: relative;
  isolation: isolate;
  border-bottom: 1px solid var(--primary-accent);
}

nav::before {
  content: "";
  position: absolute;
  width: 80%;
  padding-left: 10px;
  height: 1px;
  top: 50%;
  background: var(--cyber-red);
  z-index: -1;
  box-shadow: 0 0 1px 0.25px #e41b32af;
}

.opt {
  color: white;
  font-size: 14px;
  cursor: pointer;
}

nav .opt:last-child {
  margin-left: auto;
  background-color: var(--cyber-red);
  color: #f9f01d;
  display: block;
  font-size: 16px;
  font-weight: 700;
}

main {
  /* background: url(./assets/images/circuit.svg); */
  grid-column: 2;
  grid-row: 2;
  display: grid;
  overflow-y: auto;
  padding: 32px;
  grid-template-columns: repeat(auto-fit, minmax(min(275px, 100%), 1fr));
  gap: 32px;

  /* absolutely need this. W/o it, img/card does not fill up entire cell height causing weird gaps */
  grid-auto-rows: min-content;
}

.card-img {
  width: 100%;
  object-fit: cover;
  aspect-ratio: 1.25;
  align-self: end;
  border-top-right-radius: 5%;
  border-top-left-radius: 5%;
  border: 2px solid var(--primary-accent);
}

.card-description-outline {
  align-self: end;
  background-color: var(--primary-accent);
  clip-path: polygon(
    0% 0%,
    3.057% 0%,
    7.642% 22.222%,
    12.227% 22.222%,
    16.812% 0%,
    83.188% 0%,
    87.773% 22.222%,
    92.358% 22.222%,
    96.943% 0%,
    100% 0%,
    100% 100%,
    0% 100%
  );
}

.card-description {
  align-self: inherit;
  background-color: #2d2d2d;
  padding: 1em;
  color: white;
  text-align: center;
  clip-path: polygon(
    0.437% 2.778%,
    2.838% 2.778%,
    7.424% 25%,
    12.445% 25%,
    17.031% 2.778%,
    82.969% 2.778%,
    87.555% 25%,
    92.576% 25%,
    97.162% 2.778%,
    99.563% 2.778%,
    99.563% 97.222%,
    0.437% 97.222%
  );
}

.stacked {
  display: grid;
}

.stacked > * {
  grid-row: 1/2;
  grid-column: 1/2;
}
